.Board-Container{
    margin: 0 20%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(min(5rem,100%), 1fr));
    grid-auto-rows: 7rem;
    column-gap: 8rem;
    row-gap: 2rem;
    max-height: 75%;
}

@media screen  and (max-width :1320px){
    .Board-Container{
        margin: 0;
        grid-auto-rows: 7rem;
        column-gap: 30px;
        grid-template-columns: repeat(auto-fill ,minmax(min(5rem,100%), 1fr));
        max-width: none;
    }
}